{% extends 'usdefencsupport/base.html' %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4 text-white">Admin Login</h2>
    <form method="POST" class="bg-light p-4 rounded shadow">
        {% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
