{% extends 'usdefencsupport/base.html' %}
{% block content %}
<h2>All Soldier Requests</h2>
<a href="{% url 'loaderrequest_add' %}" class="btn btn-success">Add New</a>
<ul>
    {% for loader in object_list %}
    <li>
        <a class="btn btn-outline-light" href="{% url 'loaderrequest_detail' loader.pk %}">{{ loader }}</a> |
        <a class="btn btn-outline-warning" href="{% url 'loaderrequest_edit' loader.pk %}">Edit</a> |
        <a class="btn btn-outline-danger" href="{% url 'loaderrequest_delete' loader.pk %}">Delete</a>
    </li>
    {% empty %}
    <li>No requests submitted.</li>
    {% endfor %}
</ul>
{% endblock %}
