{% extends 'usdefencsupport/base.html' %}
{% block title %}Request Calls{% endblock %}
{% block content %}
<div class="container py-4 text-white">
    <h3>Request Calls</h3>
    <table class="table table-striped table-bordered bg-light text-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Carrier</th>
                <th>Country</th>
                <th>Minutes Requested</th>
                <th>Country of Deploy</th>
                <th>Soldier Name</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.name }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.mobile_carrier }}</td>
                <td>{{ request.country }}</td>
                <td>{{ request.minute_requested }}</td>
                <td>{{ request.country_of_deploy }}</td>
                <td>{{ request.name_of_soldier }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
